/* ArsenALL CSS  -- Cathleen Carbonell WSP 1503*/

/* IMPORTED FONTS */

	/* ROKKITT */ @import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700); 
	/* RALEWAY */ @import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
	/* ANTON */ @import url(http://fonts.googleapis.com/css?family=Anton);
	/* ARMATA */ @import url(http://fonts.googleapis.com/css?family=Armata);


/* STYLE MAX 1027px */

body {
	background-color: #000;
	color: #eee;
	font-family: 'Raleway', Tahoma, sans-serif;
}

/* GLOBAL LINKS */

a:link, a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #ffcc33;
}

/* FLOATS & CLEARS */

.left {
	float: left;
	position: justify;
}

.right {
	float: right;
	position: justify;
}

.clear {
	clear: both;
}

/* IMAGES */

img {
	width: 75%;
	max-width: 75%;
	padding: 5px;
	border: 0;
}

.thumb {
	width: 20%;
	max-width: 20%;
	margin: 5px;
}

.detail {
	width: 95%;
	max-width: 95%;
}

.logo {
	width: 75%;
	max-width: 75%;
};

/* HEADERS */

h1 {
	color: #333;
	font-family: 'Rokkitt', Courier, serif;
}

h2 {
	color: #ccc;
	font-family: 'Anton', Arial, sans-serif;
	font-weight: bold;
}

h2 a:link, a:visited {
	font-family: 'Anton', Arial, sans-serif;
	color: #eee;
}

h2 a:hover {
	color: #a54846;
}

h3 {
	color: #556788;
	font-family: 'Armata', Arial, sans-serif;
}

/* NAV */

.navbar {
	background-color: #000;
	border: 0;
}

.nav a:hover {
	color: #ffcc33;
}

/* BUTTONS */

button {
	margin: 0 5px;
}

.btn, .btn-success {
	background: linear-gradient(#f1d746, #cb8117);
	border: solid 2px #cb8117;
	color: #333;
}

 .btn-success:hover {
 	background: linear-gradient(#ce5955, #a75550) ;
	border: solid 2px #a75550;
	color: #ccc;
}
 

/* FORM STYLES */

input {
	margin: 5px auto;
}

input[type=text], input[type=email], input[type=password] {
	color: #333;
}


/* MISC CLASSES */

.hide {
	display: none;
}

.container-top {
	margin-top: 10%;
}

.weapon {
	opacity: 0.5;
}

.weapon:hover, .weapon:active {
	opacity: 1;
}

/* MISC IDs */


/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
	
	
	.navbar-form, .navbar-right, .form-group, .collapse, .collapsed {
		border: 0;
	}

	.weapon img {
		width: 33%;
		max-width: 33%;
		float: left;
	}


}

@media screen and (max-width: 487px) {
	
	.container {
		margin-top: 20%;
		overflow: hidden;
	}

	.navbar-brand{
    	width: 75%;
    	float: left;

}
	.navbar-form, .navbar-right, .form-group, .collapse, .collapsed {
		border: 0;
	}
	
	h2 {
		margin: 0 auto;
	}
	
	.weapon img {
		width: 30%;
		max-width: 30%;
		float: left;
	}


}