/* ArsenALL CSS  -- Cathleen Carbonell WSP 1503*/

/* IMPORTED FONTS */

/* ROKKITT */ @import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700); 
/* RALEWAY */ @import url(http://fonts.googleapis.com/css?family=Raleway:700,400);


/* STYLE MAX 1027px */

body {
	background-color: #000;
	color: #eee;
	font-family: 'Raleway', Tahoma, sans-serif;
}

/* GLOBAL LINKS */

a:link, a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #ffcc33;
}

/* IMAGES */

img {
	width: 75%;
	max-width: 75%;
}

/* HEADERS */

h1 {
	color: #333;
	font-family: 'Rokkitt', Courier, serif;
}

/* NAV */

.navbar {
	background-color: #000;
	border: 0;
}

.nav a:hover {
	color: #ffcc33;
}

/* BUTTONS */

button {
	margin: 0 5px;
}

/* FORM STYLES */

input {
	margin: 5px auto;
}

input[type=text], input[type=email], input[type=password] {
	color: #333;
}


/* MISC CLASSES */

.hide {
	display: none;
}

.container-top {
	margin-top: 10%;
}

/* MISC IDs */


/* MEDIA QUERIES */

@media screen and (max-width: 487px) {
	
	.container {
		margin-top: 20%;
	}


}