/* ArsenALL CSS  -- Cathleen Carbonell WSP 1503*/

/* IMPORTED FONTS */

/* ROKKITT */ @import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700); 

body {
	background-color: #000;
	color: #eee;
	font-family: ;
}

h1 {
	font-family: 'Rokkitt', Courier, serif;
	color: #333;
}

a:link, a:visited {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ffcc33;

.hide {
	display: none;
}

.container {
	margin-top: 10%;
}

/* Navigation */

.navbar {
	background-color: #000;
	border: 0;
}

.nav a:hover {
	color: #ffcc33;
}

/* Button */

button {
	margin: 0 5px;
}

/* Input Fields */

input {
	margin: 5px auto;
}

input[type=text], input[type=email], input[type=password] {
	color: #333;
}

/* Images */

img {
	width: 75%;
	max-width: 75%;
}

.logo { 
	width: 65%;
	max-width: 65%;

}



@media screen and (max-width: 487px) {
	
	.container {
		margin-top: 20%;
	}


}